.Episode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: calc(20% - 4px);
    height: 100px;
}
.Episode:hover{
    cursor: pointer;
}